<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.votenow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoteNow"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.example.votenow.activities.EditProfile"
            android:exported="false"/>
        <activity
            android:name="com.example.votenow.activities.OrderedProduct"
            android:exported="false"/>
        <activity
            android:name="com.example.votenow.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.ProductDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name="com.example.votenow.activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.CategoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.CartActivity"
            android:exported="false"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name="com.example.votenow.activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.example.votenow.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name="com.example.votenow.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>